<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <a class="created">Created {{format_date created_at}}</a>
  </div>
  <div class="content">
    <a target="_blank">{{contents}}</a>
  </div>
  <div class="meta">
    <a>{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>