<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <a class="created">Created by {{user.username}} on {{format_date created_at}}</a>
  </div>
  <div class="content">
    <a>{{contents}}</a>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>